[submodule "LuaJIT"]
	path = LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/zhaozg/luajit-cmake.git
[submodule "thirdparty/compat-5.3"]
	path = thirdparty/compat-5.3
	url = https://github.com/lunarmodules/lua-compat-5.3.git
[submodule "thirdparty/ffi"]
	path = thirdparty/ffi
	url = https://github.com/zhaozg/luaffi.git
