[submodule "LuaJIT"]
	path = LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
[submodule "luac"]
	path = luac
	url = https://github.com/lua/luac.git
[submodule "tests"]
	path = tests
	url = https://github.com/lua/tests.git
[submodule "LuaJIT-test-cleanup"]
	path = LuaJIT-test-cleanup
	url = https://github.com/LuaJIT/LuaJIT-test-cleanup.git
[submodule "thirdparty/ffi"]
	path = thirdparty/ffi
	url = https://github.com/zhaozg/lua-ffi.git
